.ui.inverted.menu .active.item {
    background: none;
}

#top-nav #display-toggle {
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
}

.option-grid, .option-list {
    padding-left: 8px !important;
    padding-right: 8px !important;
    cursor: pointer;
}

.option-list {
    margin: 0 0 0 auto;
}

#main {
    margin-top: 63px;
}

label:focus {
  outline: none;
}

.ui.toggle.checkbox input ~ .box:before,
.ui.toggle.checkbox input ~ label:before,
.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ label:before,
.ui.toggle.checkbox input:checked:focus ~ label:before {
    background-color: #21BA45 !important;
}

/*.ui.card {
  margin: 15px !important;
  float: left;
}

.select-wrapper {
  width: 80%;
  display: inline-block;
}
*/

.card .lazy-image {
  width: 100%;
  height: 100%;
}

.person-photo input {
  display: none;
}

.lazy-image-container {
  min-height: 0;
}

.card .lazy-image-container {
  min-height: 290px;
}

.lazy-image-placeholder {
    top: 43%;
    right: 43%;
}

.person-link {
  cursor: pointer;
}

.progress .bar {
  min-width: 0 !important;
}

.x-file-input label {
  position: relative;
  outline: none !important;
}

.x-file-input.is-uploading label .image {
  visibility: hidden;
}

.people-list .cards hr,
.people-list .items hr:last-child {
  display: none;
}